.App {
  text-align: center;
}

.main-heading {
  text-align: center;
  align-content: center;
  background-color: beige;
  height: 120px;
}
main{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
  
}


